.hidden {
  display: none;
}

#task-list {
  background-color: #e6f2ff;
  border-radius: 0.375rem;
  padding: 0.25rem;
}

#task-list li .task-action-btn {
  color: inherit;
  background: transparent;
  border: 1px solid currentColor;
}
